/* ===================================================*/
/* SMALL MOBILE: up to 640px*/
/* ===================================================*/
	/* ===============================================*/
	/* FOOTER */
	/* ===============================================*/	
	.footer_wrapper {
		position: relative;
		clear: none;
		float: left;
		
		width: 100%;
		min-width: 240px;
		
		font-size: 9pt;
		color: rgba(240, 240, 240, 1);
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
	}
	
	.footer_wrapper .footer {
		position: relative;
		clear: both;
		float: left;
		
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 30pt;
		width: 80%;
		
		margin-top: 20pt;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -20pt;
	}
	
/* ===================================================*/
/* TABLET: 641px to 767px*/
/* ===================================================*/
@media only screen and (min-width: 641px) {
	.footer_wrapper {
		font-size: 10pt;
	}
} /* END TABLET FORMAT */


/* ===================================================*/
/* DESKTOP: 768px AND ABOVE */
/* ===================================================*/
@media only screen and (min-width: 768px) {
	.footer_wrapper {
		clear: none;
		float: none;
		
		margin-left: auto;
		margin-right: auto;
		
		width: 80%;
		max-width: 1368px;
	}
} /* END DESKTOP FORMAT */


/* ===================================================*/
/* END FOOTER STYLE */
/* ===================================================*/

